

header{
    height: 60px;
    margin-left: 80px;
    padding: 15 25px;
    background-color: white ;
    font-size: 48px;
    box-shadow: 0px 2px 5px #bbb;
    font-family: "Candara", "Calibri", "Segoe", "Segoe UI", "Optima", "Arial", "sans-serif";
}

.sidebar{
    margin: 0;
    padding-top: 8px;
    width: 80px;
    background-color: #7a1616;
    position: fixed;
    height: 100%;
    overflow: auto;
}
.sidebar a{
    display: block;
    color: white;
    text-decoration: none;
}

.sidebar div :hover{
    color: white;
    transition: 0.35s;
    background-color: #56111a;
}

.navicon{
    width: 90%;
    margin: 5%;
}

.mode{
    margin: 6px 8px;
    width: 64px;
    padding: 4px 4px;
    font-size: 10px;
    font-weight: bold;
    color: white;
    background-color: #56111a;
    border: 0px solid white;
    border-radius: 8px;
    cursor: pointer;
}

.mode:hover{
    background-color: #7a1616;
    transition: 0.35s;    
    box-shadow: 0px 2px 5px #111;
}

a {
    color: #ffa914;
}

a :visited{
    color: #cc6300;

}

main{
    margin: 10px 90px;
    padding: 5px 10px;
    min-height: calc(100% - 156px);
    height: auto;
    width: calc(100% - 124px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

article{
    width: 100%;
    font-size: 20px;
}

body{
    margin: 0;
}

footer{
    height: 20px;
    margin-left: 80px;
    color:white;
    padding: 8px 25px;
    background-color: black ;
    font-size: 16;
    box-shadow: 0px -2px 5px #999;
    text-align: left;
}


/* Article stuff */
.articleMain{
    width: calc(100% - 101px);
    margin: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 1px;
}

.articleMain article{
    max-width: 700px;
    width: 90%;
}

.articleMain h1{
    font-size: 36;
    margin-top: 0;
    margin-bottom: 0;  
}

.articleMain p{
    font-size: 18;
    text-align: justify;
}


.articleMain div{
    width: 100%;
    display: flex;
    justify-content: center;
}



/* Timeline Navigation stuff */

.timelineNavBox{
    position: fixed;
    width: 220px;
    height: 500px;
    margin-left: calc(100% - 250px);
    margin-top: 30px;
    background-color: white;
    box-shadow: 0px 2px 5px #bbb;
    border-radius: 8px;
}


svg.lineGraphic{
    margin-top: 10px;
    margin-left: 10px;
    width: 10px;
    height: 480px;
}

.lineBorder{
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #111;
    stroke-width: 3;
}

.lineFill{
    x: 1;
    y: 1;
    width: 8;
    fill: #ffa914;
}

.timelineNav{
    float: right;
    margin-right:32px;
    border-style:solid;
}

.timelineNav li{
    margin-left: -40px;
    margin-top: -8px;
    list-style-type: square;
    margin-right: 15px;
    margin-bottom: 12px;

}

/* Timeline Layout Area */

#timelineMain{
    /*border: solid 1px;*/
    display: flex;
    justify-content: center;
    padding: 0;
    width: calc(100% - 350px);
}

.tla{
    max-width: 800px;
}

.tla div{
    margin-top: 5px;
    margin-bottom: 15px;
    float: right;
    /*border: #111 solid 2px; */
    width: calc(100% - 30px);
    min-height: 280px;
    height:auto;
    padding: 10px;
}

.tla h2{
    font-size: 42;
    margin-top: 0;
    margin-bottom: 0;  
    color: #ffa914;
}


.tla h1{
    font-size: 30;
    margin-top: -1;
    margin-bottom: -25;
}

.tla p{
    font-size: 22;
    text-align: justify;
}

.tla img{
    width: 50%;
    float: left;
    border: #111 solid 2px;
    max-width: 330px;
    height: auto;
    margin-left: 0;
    margin-right: 8px;
}

.tla div svg{
    width:100%;
    height: 50px;
    margin:0;
    padding:0;
    float:left;
}



/* Gallery stuff, credit to w3schools.com for the foundations of the gallery code*/

.galleryArticle{
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: center;
}

.gallery {
    border: #ccc solid 1px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.galleryItem {
    box-shadow: 0px 1px 4px #333;
    transition: 0.35s;
    margin: 7px;
    border: 5px solid #fff;
    width: 180px;
}

.galleryItem:hover {
    z-index: 1000;
    margin-top: -3px;
    margin-bottom: 13px;
    box-shadow: 0px 2px 7px #111;
    transition: 0.35s;
    cursor: pointer;
}

.galleryItem img {
    object-fit: cover;
  width: 100%;
  height: 150px;
}

.galleryItem p {
  padding: 12px;
  text-align: center;
}

.imgView{
    width: 100%;
    position: fixed;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 1000;
}

.imgView img{
    max-width: 80%;
    max-height: 80%;
    margin-top: 5px;
    margin-bottom: 10px;
    border: #fff solid 2px;
    box-shadow: 0px 2px 8px #111;
    background-color: transparent;
}

.imgView p{
    font-size: 20px;
    text-align: center;
}

.imgView button{
    position: fixed;
    top: 20px;
    right: 30px;
    font-size: 24px;
    background-color: #7a1616;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
    cursor: pointer;
}

