

header{
    margin-left: 80px;
    padding: 15 25px;
    background-color: white ;
    font-size: 48px;
    box-shadow: 0px 2px 5px #bbb;
    font-family: "Candara", "Calibri", "Segoe", "Segoe UI", "Optima", "Arial", "sans-serif";
}

.sidebar{
    margin: 0;
    padding-top: 8px;
    width: 80px;
    background-color: #7a1616;
    position: fixed;
    height: 100%;
    overflow: auto;
}
.sidebar a{
    display: block;
    color: white;
    text-decoration: none;
}

.sidebar div :hover{
    color: white;
    transition: 0.35s;
    background-color: #56111a;
}

.navicon{
    width: 90%;
    margin: 5%;
}

.mode{
    margin: 6px 8px;
    width: 64px;
    padding: 4px 4px;
    font-size: 10px;
    font-weight: bold;
    color: white;
    background-color: #56111a;
    border: 0px solid white;
    border-radius: 8px;
    cursor: pointer;
}

.mode:hover{
    background-color: #7a1616;
    transition: 0.35s;    
    box-shadow: 0px 2px 5px #111;
}

a {
    color: #ffa914;
}

a :visited{
    color: #cc6300;

}

main{
    margin: 10 90px;
    padding: 5px 10px;
    height: 2000px;
}

#timelineMain{
    /*border: solid 1px;*/
    display: flex;
    justify-content: center;
    padding: 0;
    width: calc(100% - 350px);
}

/* Timeline Navigation stuff */

.timelineNavBox{
    position: fixed;
    width: 220px;
    height: 500px;
    margin-left: calc(100% - 250px);
    margin-top: 30px;
    background-color: white;
    box-shadow: 0px 2px 5px #bbb;
    border-radius: 8px;
}


svg.lineGraphic{
    margin-top: 10px;
    margin-left: 10px;
    width: 10px;
    height: 480px;
}

.lineBorder{
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #111;
    stroke-width: 3;
}

.lineFill{
    x: 1;
    y: 1;
    width: 8;
    height: 8;
    fill: #ffa914;
}

.timelineNav{
    float: right;
    margin-right:32px;
    border-style:solid;
}

.timelineNav li{
    margin-left: -40px;
    margin-top: -8px;
    list-style-type: square;
    margin-right: 15px;
    margin-bottom: 12px;

}

/* Timeline Layout Area */

.tla{
    max-width: 800px;
}

.tla div{
    margin-top: 5px;
    margin-bottom: 15px;
    float: right;
    /*border: #111 solid 2px; */
    width: calc(100% - 30px);
    min-height: 280px;
    height:auto;
    padding: 10px;
}

.tla h2{
    font-size: 42;
    margin-top: 0;
    margin-bottom: 0;  
    color: #ffa914;
}


.tla h1{
    font-size: 30;
    margin-top: -1;
    margin-bottom: -25;
}

.tla p{
    font-size: 22;
    text-align: justify;
}

.tla img{
    width: 50%;
    float: left;
    border: #111 solid 2px;
    max-width: 330px;
    height: auto;
    margin-left: 0;
    margin-right: 8px;
}

.tla hr{
    float: top;
    margin-top: 10%;
    /* clear floats so the rule sits below the previous floated div and above the next one */
    display: block;
    clear: both;
    width: calc(100% - 30px); /* match inner .tla div width */
    height: 3px;
    border: none;
    background-color: #ffa914;
    box-sizing: border-box;
}


body{
    margin: 0;
}

footer{
    margin-left: 80px;
    color:white;
    padding: 8px 25px;
    background-color: black ;
    font-size: 16;
    box-shadow: 0px -2px 5px #999;
    text-align: left;
}

