
header{
    margin-left: 80px;
    padding: 15 25px;
    background-color: white ;
    font-size: 48;
    box-shadow: 0px 2px 5px #bbb;
    font-family: "Candara", "Calibri", "Segoe", "Segoe UI", "Optima", "Arial", "sans-serif";
}

.sidebar{
    margin: 0;
    padding-top: 8px;
    width: 80px;
    background-color: #7a1616;
    position: fixed;
    height: 100%;
    overflow: auto;
}
.sidebar a{
    display: block;
    color: white;
    text-decoration: none;
}

.sidebar div :hover{
    color: white;
    transition: 0.35s;
    background-color: #56111a;
}

.navicon{
    width: 90%;
    margin: 5%;
}

.mode{
    margin: 6px 8px;
    width: 64px;
    padding: 4px 4px;
    font-size: 10px;
    font-weight: bold;
    color: white;
    background-color: #56111a;
    border: 0px solid white;
    border-radius: 8px;
    cursor: pointer;
}

.mode:hover{
    background-color: #7a1616;
    transition: 0.35s;    
    box-shadow: 0px 2px 5px #111;
}

main{
    margin: 10 90px;
    padding: 5px 10px;
    height: 2000px;
}

footer{
    margin-left: 80px;
    color:white;
    padding: 8px 25px;
    background-color: black ;
    font-size: 16;
    box-shadow: 0px -2px 5px #999;
    text-align: left;}

